{% extends 'main.html' %}

{% block content %}


    <div id="nav">
        <h5>
            <button id='nav_btn'>
                <a href="{% url 'add_book' %}">Add Book</a>
            </button>
        </h5>
    </div>

    <div id="search">
        <form method="get">
				{{book_filter.form}}

		    <button id="search_btn" type="submit">Search</button>
		  </form>
    </div>

    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}

    <main>
        <div id="book_list">
            <table id='book_table'>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Published date</th>
                    <th>ISBN</th>
                    <th>Page count</th>
                    <th>Language</th>
                    <th>Cover</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                    {% for book in page_obj %}
                        <tr>
                            <td>{{book.title}}</td>
                            <td>{{book.authors }}</td>
                            <td>{{book.published_date}}</td>
                            <td>{{book.isbn}}</td>
                            <td>{{book.page_count}}</td>
                            <td>{{book.language}}</td>
                            <td><img src="{{book.image_link}}" alt=""></td>
                            <td><button id='edit_btn'><a href="{% url 'edit_book' book.id %}">Edit</a></button></td>
                            <td><button id='remove_btn'><a href="{% url 'delete_book' book.id %}">Remove</a></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {% if page_obj.paginator.num_pages > 1 %}
        <div id="pagination">
            <ol>
                {% if page_obj.has_previous %}
                    <li><a href="?page=1"><<</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="current">{{ page }}</li>
                    {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
                        <li><a href="?page={{page}}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                {% endif %}
            </ol>
        </div>
    {% endif %}


{% endblock %}